.header {
  width: 100%;
  background: #7be495;
  height: 80px;
  display: flex;
  position: fixed;
  top: 0;
  color: #397d54;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.header-right-container {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
      height: 60px; 
      padding: 0 3%; 
      font-size: 0.6rem;
  }
}

@media (max-width: 480px) {
  .header {
      padding: 0 2%;
      
      font-size: 0.5rem;
  }

  
}
